<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcszulpo.oladoutor" >

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".controller.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.PatientListActivity"
            android:label="@string/title_patient_list" >
        </activity>
        <activity
            android:name=".controller.PatientDetailActivity"
            android:label="@string/title_patient_detail"
            android:parentActivityName=".controller.PatientListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.PatientListActivity" />
        </activity>
        <activity
            android:name=".controller.PatientFormActivity"
            android:label="@string/title_activity_patient_form" >
        </activity>
        <activity
            android:name=".controller.LocaleFormActivity"
            android:label="@string/title_activity_locale"
            android:parentActivityName=".controller.LocaleListActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".controller.LocaleListActivity"
            android:label="@string/title_locale_list"
            android:parentActivityName=".controller.PatientListActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".controller.EncounterFormActivity"
            android:label="@string/title_activity_encounter_form"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".controller.DrugListActivity"
            android:label="@string/title_activity_drug_list"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".controller.DrugFormActivity"
            android:label="@string/title_activity_drug_form"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".controller.AddDrugActivity"
            android:label="@string/title_activity_add_drug"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".controller.PatientDrugListActivity"
            android:label="@string/title_activity_patient_drug_list"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
